* {
  color: #9a9890;
  font-family: "DM Mono", monospace;
}

/* HERO/ABOUT ME SECTION */

.hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  padding-top: 20%;
}
.hero-left {
  display: flex;
  flex-direction: column;
}
.hero-name,
.hero-desc,
.hero-eyebrow,
.about-btn {
  padding-left: 5%;
  padding-bottom: 2%;
}

.hero-eyebrow span {
  color: #ffe2fe;
  border: 1px solid rgba(255, 226, 254, 0.2);
  padding: 1%;
  font-size: small;
}

.hero-name {
  color: white;
  font-family: "Fraunces", serif;
  /* font-family: 3rem; */
}

em {
  color: #ffe2fe;
  font-family: "Fraunces", serif;
}

.hero-desc {
  text-align: left;
  padding-right: 35%;
}

/* BUTTTONS */

.about-btn {
  display: flex;
  gap: 4%;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #ffe2fe;
  --button_outline_color: #774c60;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* STATUS DOT */

.nav-badge {
  display: flex;
  align-items: center;
  gap: 8px; /* space between dot and text */
  color: #d3c1d2d2;
  font-size: 0.9rem;
}
.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%; /* makes it a circle */
  background: #ffe2fe; /* accent green */
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
/* phone size */
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  #availability,
  .about-btn {
    display: none;
  }

  .hero-desc {
    padding-right: 5%;
  }

  .hero-eyebrow span {
    font-size: 0.5rem;
  }

  .hero-desc,
  .exp-item {
    font-size: 0.8rem;
  }

  .exp-role,
  .card_title,
  .link,
  .hero-name,
  h2 {
    font-size: 2rem;
  }
  .nav-links li a {
    align-items: center;
  }
}

.hero-name {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }
}
