.edu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.edu-cards {
  background-color: rgb(17, 14, 14);
}

.edu-summary {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  gap: 50%;
}

.edu-badge {
  padding: 3%;
}
.edu-progress {
  padding: 4%;
  font-size: 0.7rem;
}
.edu-badge,
.edu-progress,
.edu-extra {
  border: 1px solid rgba(255, 226, 254, 0.2);
  background-color: rgb(17, 14, 14);
}

.edu-title {
  padding-top: 8%;
  color: #ffe2fe;
  /* text-align: center; */
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.edu-module-tit {
  padding-top: 2%;
  font-family: "Courier New", Courier, monospace;
}

.space-divider {
  padding: 2%;
}

.edu-modules {
  padding-bottom: 5%;
}

.edu-modules ul li {
  list-style-type: square;
}

.edu-modules ul {
  padding-left: 5%;
}
.edu-modules ul li::marker {
  color: #ffe2fe;
}

.exp-item {
  font-size: 0.8rem;
}

.edu-extra {
  padding: 2%;
}

.edu-extra-container {
  display: flex;
  gap: 5%;
}

@media (max-width: 768px) {
  .edu-container {
    flex-direction: column;
  }
}
